<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>form</h1>
    <form method="POST" action="/studentdetail">
        <label>Subject code :</label>
        <input type="text" name="scode"/><br/><br/>

        <label>Subject Name :</label>
        <input type="text" name="sname"/><br/><br/> 

        <label>Institute Name :</label>
        <input type="text" name="iname"/><br/><br/>

        <label>Department Name :</label>
        <input type="text" name="dname"/><br/><br/>

        <label>Semester :</label>
        <select name="cars" id="cars">
            <option value="1" name="select">1</option>
            <option value="2" name="select">2</option>
            <option value="3" name="select">3</option>
            <option value="4" name="select">4</option>
            <option value="4" name="select">5</option>
        </select><br/><br/>

        <button type="submit"  >Submit</button>
    </form>
</body>
</html>